{% extends 'layout.html' %}
{% block body %}
  <div class="jumbotron text-center">
    <h1> Welcome to ADBMS Web Application</h1>
    <br>
    <p class="h3">Name : Chinmay Sathe</p>
    <p class="h3">Roll Number : 19MT0119</p>
    <br>
    <br>
    <br>
    <br>
    <a href="/Query1" class="btn btn-primary btn-lg col-sm-2">Query 1</a>
    <a href="/Query2" class="btn btn-primary btn-lg col-sm-2">Query 2</a>
    <a href="/Query3" class="btn btn-primary btn-lg col-sm-2">Query 3</a>
    <a href="/Query4" class="btn btn-primary btn-lg col-sm-2">Query 4</a>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

{% endblock %}
