<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>My ADBMS App</title>
		<link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	</head>
	<body>
		{% include 'includes/_navbar.html' %}
		<div class ="container">
			{% include 'includes/_messages.html' %}
			{% block body %}{% endblock %}
		</div>
		<script source="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</body>
</html>
